<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394227434571-a1pqn1jol484pa7h8ns49dunol1njtug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394227434571-a1pqn1jol484pa7h8ns49dunol1njtug</string>
	<key>API_KEY</key>
	<string>AIzaSyCp9rI-lH7YkMgIt5EBTh3CBHbSrFmbb1w</string>
	<key>GCM_SENDER_ID</key>
	<string>394227434571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.webrtcios</string>
	<key>PROJECT_ID</key>
	<string>fir-rtc-46f38</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-rtc-46f38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394227434571:ios:37ded36bee7a39e0de79ce</string>
</dict>
</plist>